.row {
  display: flex;
  height: 100px;
}

.function {
  height: 50px;
}

.key {
  display: flex;
  width: 100px;
  margin: 5px;
  background: black;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
